<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:description="@string/xposed_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LyricProvider">

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.LyricProvider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ============ LyricON 提供端识别 ============ -->
        <meta-data
            android:name="lyricon_module"
            android:value="true" />

        <meta-data
            android:name="lyricon_module_author"
            android:value="@string/lyricon_module_author" />

        <meta-data
            android:name="lyricon_module_description"
            android:value="@string/lyricon_module_description" />

        <meta-data
            android:name="lyricon_module_tags"
            android:resource="@array/lyricon_module_tags" />

        <!-- ============ LSPosed 声明 ============ -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />

    </application>

</manifest>
